@charset "UTF-8";

body{
    color: palevioletred;
    background-color: aqua;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: black;
    background-color: aquamarine;
    text-decoration: underline;
}
h2{
    color: rgb(21, 21, 59);
    background-color: paleturquoise ;
    
}
p {
    font-family: monospace;
    color: blue;
}